.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 24px;
}

.top-line h1 {
    margin: 0;
    color: #555555;
}

.buttons-wrapper .button {
    margin-left: 24px;
}

.no-data {
    font-size: 22px;
    letter-spacing: 1px;
    color: firebrick;
}

.addresses {
    width: 100%;
    margin: auto;
}

@media (min-width: 1237px) and (max-width: 1648px) {
    .top-line {
        max-width: 1200px;
    }
}

@media (min-width: 843px) and (max-width: 1236px) {
    .top-line {
        max-width: 780px;
    }
}

@media (max-width: 842px) {
    .top-line {
        max-width: 500px;
    }
}

/* Loading animation*/

.loaderContainer {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    user-select: none;
}

.innerContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer .ring {
    position: relative;
    width: 50px;
    height: 50px;
    margin: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top: 2px solid #24ecff;
    animation: animate 3s linear infinite;
}

.innerContainer .ring::before {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #24ecff;
    box-shadow: 0 0 0 3px #24ecff33, 0 0 0 6px #24ecff22, 0 0 0 10px #24ecff11;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.innerContainer .ring:nth-child(2) {
    border-top: 2px solid transparent;
    border-left: 2px solid #93ff2d;
    animation: animate2 3s linear infinite;
    animation-delay: -0.5s;
}

.innerContainer .ring:nth-child(2)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 3px;
    left: 3px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #93ff2d;
    box-shadow: 0 0 0 3px #93ff2d33, 0 0 0 6px #93ff2d22, 0 0 0 10px #93ff2d11;
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.innerContainer .ring:nth-child(3) {
    position: absolute;
    top: -22.22px;
    border-top: 2px solid transparent;
    border-left: 2px solid #e41cf8;
    animation: animate2 3s linear infinite;
    animation-delay: -2s;
}

.innerContainer .ring:nth-child(3)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 3px;
    left: 3px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #e41cf8;
    box-shadow: 0 0 0 3px #e41cf833, 0 0 0 6px #e41cf822, 0 0 0 10px #e41cf811;
}

.innerContainer p {
    position: absolute;
    font-size: 1.2em;
    bottom: -60px;
    letter-spacing: 0.05em;
}